@import url("https://fonts.googleapis.com/css2?family=Itim&family=Roboto:wght@400;700&display=swap");
@import "tailwindcss";

/*----------@utility rules----------*/
/* Custom Colors */
@utility bg-primary {
  background-color: #59cb00;
}
@utility bg-secondary {
  background-color: #63a331;
}
@utility bg-background {
  background-color: #f9f9f9;
}
@utility bg-background-secondary {
  background-color: #e4e4e4;
}
@utility text-primary {
  color: #59cb00;
}
@utility text-secondary {
  color: #63a331;
}
@utility text-text {
  color: #2e3a26;
}
@utility text-text-secondary {
  color: #7b7d7d;
}

/* Custom fonts  */
@utility font-itim {
  font-family: "Itim", cursive;
  font-weight: 400;
  font-size: 24px;
}
@utility text-h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 40px;
}
@utility text-h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 30px;
}
@utility text-h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
}
@utility text-h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
}
@utility container {
  margin-left: 80px;
  margin-right: 80px;
}
@utility logo-img {
  height: 60px;
  width: auto;
  object-fit: contain;
  display: block;
}

/* For auto filled forms */
@layer utilities {
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #e4e4e4 inset !important;
    box-shadow: 0 0 0px 1000px #e4e4e4 inset !important;
    -webkit-text-fill-color: #000;
  }
}

/*-------------------------------------------*/
/* Global Styles */
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f9f9f9;
  color: #2e3a26;
}

/*-----------------Signin-----------------*/
.green-bg {
  background-color: #59cb00;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.circle {
  position: absolute;
  background-color: #42b32f;
  border-radius: 50%;
  z-index: 0;
  animation: magnetMotion 2s infinite cubic-bezier(0.52, -0.01, 0.48, 1.03);
}

.circle-top-right {
  width: 400px;
  height: 400px;
  top: -100px;
  right: -100px;
}

.circle-bottom-left {
  width: 400px;
  height: 400px;
  bottom: -120px;
  left: -120px;
  animation-delay: 1s;
}

@keyframes magnetMotion {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-25px);
  }

  100% {
    transform: translateY(0);
  }
}
